<h2>User Details</h2>
<div class="card card-header results-block">
  <table class="col-md-12">
  <% if @user %>
    <tbody>
      <tr>
        <td><strong>Email: </strong> <%= @user.email %></td>
      </tr>
    </tbody>
  <% end %>
   
  </table>
</div>